= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label @language.name
    .controls
      = f.text_field :name, class: 'form-control', required: true
  .form-group
    = f.label @language.surname
    .controls
      = f.text_field :surname, class: 'form-control', required: true
  .form-group
    = f.label @language.email
    .controls
      = f.text_field :email, class: 'form-control', required: true
  .form-group
    = f.label @language.personal_id
    .controls
      = f.text_field :personal_id, class: 'form-control', required: true
  .form-group
    = f.label @language.role
    .controls
      = f.select(:role, {@language.student  => 'student',
                         @language.teacher  => 'teacher',
                         @language.tutor    => 'tutor',
                         @language.admin    => 'admin'})
  .form-group
    = f.label @language.is_approved
    .controls
      = f.check_box :is_approved
  .actions
    = f.submit @language.update, :class => 'btn btn-primary'
    = link_to @language.back, users_path, :class => 'btn btn-default'
