.page-header
  %h1
    .label.label-default= @language.roles[@user.role]
    = @user.full_name

%p
  %b= @language.personal_id + ':'
  = @user.personal_id
%p
  %b= @language.email + ':'
  = @user.email
%p
  %b= @language.is_approved + ':'
  = @language.approved[@user.is_approved]
- if @user.role == 'tutor'
  %p
    %b= @language.student + ':'
    = @user.student.full_name
- elsif @user.role == 'student'
  %p
    %b= @language.tutor + ':'
    = @user.tutor.full_name

= link_to @language.edit, edit_user_path(@user), :class => 'btn btn-default'
= link_to @language.back, users_path, :class => 'btn btn-default'
