%p
  %b= @language.class + ':'
  = @subject.school_class.name

%p
  %b= @language.subject + ':'
  = @subject.name

%p
  %b= @language.teacher + ':'
  = @subject.teacher.full_name

%br

= form_tag degrees_path do
  - for degree in @degrees
    - if degree.errors.any?
      #error_explanation
        %h2= "#{pluralize(degree.errors.count, "error")} prohibited this degree from being saved:"
        %ul
          - degree.errors.full_messages.each do |msg|
            %li= msg

  .form-group
    = label_tag @language.activity
    .controls
      = text_field_tag :activity, @degrees[0].activity, class: 'form-control', required: true
      = hidden_field_tag :subject_id, @subject.id

  %table.table.table-striped
    %thead
      %tr
        %th= @language.name
        %th= @language.surname
        %th= @language.degree
        %th= @language.description

    %tbody
      - @degrees.each_with_index do |degree, i|
        %tr
          - if action_name == 'new'
            %td= @subject.school_class.students[i].name
            %td= @subject.school_class.students[i].surname
          - else
            %td= @degrees[i].student.name
            %td= @degrees[i].student.surname

          = fields_for "degrees[#{i}]" do |f|
            %td{align: :center}
              .value_column
                = f.text_field :value, :value => @degrees[i].value
            %td
              .description_column
                = f.text_area :description, :value => @degrees[i].description
                = f.hidden_field :student_id, :value => @subject.school_class.students[i].id

  .actions
  = submit_tag @language.update, :class => 'btn btn-primary'
  = link_to @language.back, degrees_path, :class => 'btn btn-default'
