= form_for @subject do |f|
  - if @subject.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subject.errors.count, "error")} prohibited this subject from being saved:"
      %ul
        - @subject.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label @language.subject_name
    = f.text_field :name
  .field
    = f.label @language.teacher
    = f.collection_select :teacher_id, @teachers, :id, :full_name
  .field
    = f.label @language.class
    = f.collection_select :school_class_id, @classes, :id, :name
  .actions
    = f.submit @language.update
