= form_for @subject do |f|
  - if @subject.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subject.errors.count, "error")} prohibited this subject from being saved:"
      %ul
        - @subject.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label @language.subject_name
    .controls
      = f.text_field :name, class: 'form-control', required: true
  .form-group
    = f.label @language.teacher
    .controls
      = f.collection_select :teacher_id, @teachers, :id, :full_name
  .form-group
    = f.label @language.class
    .controls
      = f.collection_select :school_class_id, @classes, :id, :name
  .actions
    = f.submit @language.update, :class => 'btn btn-primary'
    = link_to @language.back, subjects_path, :class => 'btn btn-default'
