= form_for @school_class do |f|
  - if @school_class.errors.any?
    #error_explanation
      %h2= "#{pluralize(@school_class.errors.count, "error")} prohibited this school_class from being saved:"
      %ul
        - @school_class.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label @language.educator
    = f.collection_select :teacher_id, @teachers, :id, :full_name
  .field
    = f.label @language.add_students
    %br
    = f.collection_select(:students, @students, :id, :full_name,
                                            {}, {:multiple => true, :size => 10})
  .actions
    = f.submit @language.update
