= form_for @school_class do |f|
  - if @school_class.errors.any?
    #error_explanation
      %h2= "#{pluralize(@school_class.errors.count, "error")} prohibited this school_class from being saved:"
      %ul
        - @school_class.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label @language.class
    .controls
      = f.text_field :name, class: 'form-control', required: true
  .form-group
    = f.label @language.educator
    .controls
      = f.collection_select :teacher_id, @teachers, :id, :full_name
  .form-group
    = f.label @language.add_students
    .controls
      = f.collection_select(:students, @students, :id, :full_name,
                                            {}, {:multiple => true, :size => 10})
  .actions
    = f.submit @language.update, :class => 'btn btn-primary', :style => 'color: white;'
    = link_to @language.back, school_classes_path, :class => 'btn btn-default'
