.page-header
  %h1
    .label.label-default= @language.class
    = @school_class.name

%p
  %b= @language.educator + ':'
  = @school_class.teacher.full_name

.panel.panel-default
  .panel-heading
    .panel-title= @language.students
  .panel-body
    %table.table.table-striped
      %thead
        %tr
          %th= @language.name
          %th= @language.surname
          %th= @language.email
          - if current_user.role == 'admin' or current_user.role == 'teacher'
            %th= @language.personal_id
            %th

      %tbody
        - for student in @students
          %tr
            %td= student.name
            %td= student.surname
            %td= student.email
            - if current_user.role == 'admin' or current_user.role == 'teacher'
              %td= student.personal_id
              %td= link_to @language.delete_from_class, {:controller => 'school_classes', :action => 'delete_from_class',
                                                          :student_id => student.id, :class => @school_class},
                                                          :class => 'btn btn-danger btn-xs', :style => 'color: white;'

= link_to @language.edit, edit_school_class_path(@school_class), :class => 'btn btn-default'
= link_to @language.back, school_classes_path, :class => 'btn btn-default'
